@media screen and (max-width: 1024px)
{
	.qhemal { padding-right:0; }
	.div50 { width: 100% !important;}
	.input_footer{ display: none; }
	.vesafza{ display: none; }

}
@media only screen and (min-width:1421px)
{
	
.vongtron { margin-left: 50px; margin-right: 50px;}
}
@media only screen and (max-width: 1024px) and (min-width:768px)
{
	
			.vongtron { margin-left: 16%;}
}
@media only screen and (max-width: 768px) and (min-width:641px)
{
	.input_footer{ display: none; }
			
}

@media only screen and (max-width: 1250px) and (min-width:1100px)
{

}
@media only screen and (max-width:1098px) and (min-width:1025px)
{
	
}	

@media only screen and (max-width:480px) 
{
	.input_footer{ display: none; }
.content_l{ text-align: left; }
#footer .btn-email {
    width: 89%;
    border-radius: 5px 0px 0px 5px;
    margin-bottom: 14px;
}
.qconline p {font-size: 20px;
    text-align: center}
.qhemal {font-size: 12px;}
.subemai {font-size: 12px;width: 100%;
    border-radius: 5px;}
.qconline {
    top: 293px;
    bottom: 80px;
    width: 91%;
    bottom: 80px;
   left: 10px;
    right: 10px;
}
.qconline form{ margin: auto; width: 100%;padding-left: 32px;
    padding-right: 10px; }
.qhemal { width: 100%;
    border-radius: 5px;
    margin-bottom: 10px;text-align: center; padding-left: 0px; }
    .slider_carosel .item img
     {
    height: 500px;
    width: 100%;
	}
	.img_3 
	{
    top: 181px;
    left: 48px;
    max-width: 271px;
    height: 115px;
	}
	.img_r1 
	{
    top: 3px;
    right: 30px;
    left: 173px;
    max-width: 148px
	}
	.img_l1
	 {
   	    top: 64px;
    left: 7px;
    right: 100px;
    width: 82% !important;
	}
	.img_4 {
    position: absolute;
    z-index: 1;
    top: 99.5px;
    left: 138px;
    max-width: 101px;
}
.vongtron {
   
    margin-top: 20px;
    /* float: left; */
    height: 65%;
    margin-left: 10px;
    margin-right: 10px;
}
.mauxanh {
    height: 500px;
}
.conten_vt {
	padding-left: 20px;
}
}
@media only screen and (max-width:320px) 
{
	.img_l1 {
    position: absolute;
    z-index: 1;
    top: 10px;
    left: -2px;
    right: 99px;
    max-width: 155px;
    /* min-width: 48px; */
}
.img_3 {
    position: absolute;
    z-index: 1;
    top: 171px;
    left: 19px;
    max-width: 277px;
    height: 103px;
}
.img_4 {
    position: absolute;
    z-index: 1;
    top: 93px;
    left: 103px;
    max-width: 95px;
}
.img_r1 {
    position: absolute;
    z-index: 1;
    top: 10px;
    right: 30px;
    left: 137px;
    max-width: 132px;
}

.mauxanh {height: 487px !important;}
.vongtron {height: 61%;width: 60%;
    left: 2%;
    right: 2%;}
.qconline p {
    font-size: 18px;
}
.qhemal {font-size: 11px;}
.subemai {font-size: 11px;}
.qconline {left: 10px;}
.qhemal {padding-right: 1px;}
	
}
	

	
	
	


	
	
	
	
	
	
	
	
	
	
	
	
	
	
	



@media screen and ( max-with:480px)
{
	
	#gd-ht .container .col-sm-6{
		width:100%;
    
		}
		
		
	
}

@media screen and (min-width: 1024px)
{
	header .container-fuild #menu_right #clicka
	{
    display: none;
	}
	
	
}

@media screen and (min-width: 1380px)
{
	
	
	header .container-fuild #search #fa-map-marker {
   
    left: 379px !important;
   
}
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
}







